sudo: required
dist: trusty
services:
  - docker

notifications:
  email:
    on_success: never
    on_failure: always
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/bba22d15fbebd424c29b
    on_success: change
    on_failure: always
    on_start: never

language: java

jdk:
  - oraclejdk8

branches:
  only:
    - master
    - /^jedipus-.*$/

before_install:
   - "export COMMIT_MSG=\"$(git log --format=%B --no-merges -n 1)\""

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

install: /bin/true

script: if [ ! -z "$TRAVIS_TAG" ] || [[ "$COMMIT_MSG" != 'Release jedipus'* ]] ; then ./gradlew check; fi

after_success: if [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ ! -z "$TRAVIS_TAG" ] ; then ./gradlew bintrayUpload; fi
